<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    
    <title>Sastagram | {{ mode }}</title>
    
    
    <link rel="stylesheet" src="index.css" type="text/css">
    <style>
      #reg {
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
        width: 50%;
      }
    </style>
    <script>
      function myfunction(){
        console.log("script tag is working")
      }
      function cpassvalidation(){
        var cpass = document.querySelector('[name="cpass"]').value
        var pass = document.querySelector('[name="pass"]').value
        var form = document.querySelector('[name="regform"]')
        console.log(pass+" == "+cpass=" = "+pass==cpass)
        if(pass == cpass){
          form.submit()
        } else {
          var cpass =document.querySelector('[name="cpass"]')
          cpass.innerHTML = "Confirm password does not match";
        }
      }
    </script>
</head>
<body>
  <div id="reg">
    <form action="" method=POST name="form">
      {% csrf_token %}  
      {% if message %}
        {% block alreadyexit %}{% endblock alreadyexit %}
      {% endif %}
      {% block fname %}{% endblock fname %}

      {% block uname %}{% endblock uname %}
      
      {% block phone %}{% endblock phone %}
      {% block pass %}{% endblock pass %}
      
      {% block cpass %}{% endblock cpass %}
      {% block regbtn %}{% endblock regbtn %}
      {% block gotologin %}{% endblock gotologin %}
    
      {% block options %}{% endblock options %}
    
      {% block button %}{% endblock button %}

      {% block changemode %}{% endblock changemode %}
      </form>
    </div>
    <script>
      function myfunction(){
        let pass = document.querySelector('[name="pass"]');
        let cpass = document.querySelector('[name="cpass"]');
        if(pass.value == cpass.value){
          console.log("Register")
          let form = document.querySelector('[name="form"]')
          form.submit();
        }

        console.log(`${pass.value}  and ${cpass.value} ${pass.value==cpass.value}`);
        console.log("script tag is working");
      }
    </script>
    {% comment %} 
    function cpassvalidation(){
      var cpass = document.querySelector('[name="cpass"]').value
      var pass = document.querySelector('[name="pass"]').value
      var form = document.querySelector('[name="regform"]')
      console.log(pass+" == "+cpass=" = "+pass==cpass)
      if(pass == cpass){
        form.submit()
      } else {
        var cpass =document.querySelector('[name="cpass"]')
        cpass.innerHTML = "Confirm password does not match";
      }
    } 
    {% endcomment %}
</body>
</html>